/*-------------------------------------------------
* 내용영역
*-------------------------------------------------*/
.main {
    max-width: 1500px;
    margin: auto;
 }

 .main .content-container h1{
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 50px 0;
    background-color: white;
 }

 .main .content-container ul{
    display: block;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin-bottom: 40px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
 }

  .main .content-container ul li a{
    display: block;
    padding-right: 60px;
    border-right: 1px solid grey;
 }

 .main .content-container ul li a.content-last {
    border-right: none;
    padding-left: 20px;
 }

 .main .content-container ul li a.content-first {
    padding-left: 20px;
}

.main .content-container .content-a{
    margin: 0 auto;
    width: 1000px;
    border-top: 1px solid grey;
    color: grey;
}

.main .content-container .content1{
    display: flex;
    font-size: 14px;
}

.main .content-container .content1 .content1-title{
    display: flex;
    margin: 15px 0;
    margin-right: 30px;
}

.main .content-container .content1 span.title{
    display: block;
    margin-right: 15px;
    padding-top: 5px;
}

.main .content-container .content1 span.title_text{
    display: block;
    border: 1.5px solid #d5d5d5;
    width: 400px;
    height: 25px;
    line-height: 20px;
    color: black;
    font-weight: 500;
}

.main .content-container .content1 .content1-name span.name{
    display: block;
    margin-right: 15px;
    padding-top: 5px;
}

.main .content-container .content1 span.name_text{
    display: block;
    border: 1.5px solid #d5d5d5;
    width: 200px;
    height: 25px;
    line-height: 20px;
    color: black;
    font-weight: 500;
}

.main .content-container .content1 .content1-name{
    display: flex;
    margin: 15px 0;
}

.main .content-container .content2{
    display: flex;
    font-size: 14px;
    height: 500px;
}

.main .content-container .content2 span.text{
    display: block;
    margin: 0 11px;
    padding-top: 240px;
}

.main .content-container .content2 span.text_txt{
    display: block;
    border: 1.5px solid #d5d5d5;
    margin: 25px 0;
    width: 900px;
    color: black;
    font-weight: 500;
}

.main .content-container .content4 a{
    display: block;
    border: 1px solid black;
    width: 90px;
    height: 40px;
    text-align: center;
    margin: 15px 0 20px 860px;
    background-color: black;
    color: white;
    font-size: 14px;
}

.main .content-container .content4 a p{
    display: block;
    padding-top: 12px;
}
