/*-------------------------------------------------
* 내용영역
*-------------------------------------------------*/
.main {
    max-width: 1200px;
    margin: auto;
    word-break: break-all;
 }

 .main .sign-in{
    padding: 0 275px;
    padding-top: 50px;
    padding-bottom: 30px;
 }

 .main .sign-in .sign-in-text {
    display: block;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
 }

 .main .sign-in .inform1 ul li{
   height: 45px;
   padding-top: 15px;
   margin-bottom: 10px;
 }

 .main .sign-in .inform1 ul li.user_brith-sex{
   display: flex;
   margin-top: 10px;
   margin-bottom: 20px;
   vertical-align: center;
 }

 .main .sign-in .inform1 ul li.user_brith-sex p{
   display: block;
   padding-top: 5px;
   margin-right: 50px;
   font-size: 16px;
   color: grey;
 }

 .main .sign-in .inform1 ul li.user_brith-sex .user_birth{
   margin-right: 100px;
 }

 .main .sign-in .inform1 ul li input.itext{
   width: 650px;
   height: 40px;
   border: 0;
   border-bottom: 1px solid gray;
   font-size: 15px; 
 }

 .main .sign-in .inform2 {
   margin-bottom: 70px;
 }

 .main .sign-in .inform2 label{
   display: block;
   margin-bottom: 15px;
 }

 .main .sign-in .inform2 span{
   display: block;
   margin-bottom: 10px;
   color: grey;
   font-size: 14px;
 }

 .main .sign-in .inform3 p.title{
   display: block;
   margin-bottom: 20px;
   font-size: 18px;
   font-weight: 600;
 }

 .main .sign-in .inform3 span{
   display: block;
   overflow: scroll;
   border: 1px solid gray;
   width: 650px;
   height: 200px;
   margin-bottom: 70px;
 }

 .main .sign-in .inform4 {
   border: 1px solid gray;
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
 }

 .main .sign-in .inform4 input{
  margin-bottom: 10px;
}

.main .sign-in .inform4 label.check_all{
  border-bottom: 1px solid gray;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main .sign-in .inform4 label.check{
  margin-left: 40px;
  margin-bottom: 15px;
}

.main .sign-in .inform4 span{
  margin: 0 40px;
  margin-bottom: 15px;
  color: gray;
  line-height: 20px;
  font-size: 13px;
}

.main .sign-in .final-inform{
  margin-top: 50px;
  margin-bottom: 30px;
}

.main .sign-in .final-inform input{
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  display: block;
  margin: auto;
  width: 300px;
  height: 70px;
  font-size: 18px;
  cursor: pointer;
}